<p style="color: green"><%= notice %></p>

<div id="mining_types">
  <h1>Mining types</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Acronym</th>
        <th colspan="2">Actions</th>
      </tr>
    <thead>
    <tbody>
    <% @mining_types.each do |type| %>
      <tr>
        <td> <%= type.description %> </td>
        <td> <%= type.acronym %> </td>
        <td> <%= link_to t('links.show'), mining_type_path(type) %> </td>
        <td> <%= link_to t('links.edit'), edit_mining_type_path(type) %> </td>
        <td> <%= button_to t('links.delete'), type, method: :delete, form: { data: { turbo_confirm: t('alert.are_you_sure') } }%> </td>    
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New mining type", new_mining_type_path %>
